In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("XXdata.csv")

In [3]:
full = pd.read_csv("all.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73282 entries, 0 to 73281
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 73282 non-null  int64
 1    month               73282 non-null  int64
 2   carrier              73282 non-null  object
 3   carrier_name         73282 non-null  object
 4   airport              73282 non-null  object
 5   airport_name         73282 non-null  object
 6   arr_flights          73240 non-null  float64
 7   arr_del15            73211 non-null  float64
 8   carrier_ct           73240 non-null  float64
 9    weather_ct          73240 non-null  float64
 10  nas_ct               73240 non-null  float64
 11  security_ct          73240 non-null  float64
 12  late_aircraft_ct     73240 non-null  float64
 13  arr_cancelled        73240 non-null  float64
 14  arr_diverted         73240 non-null  float64
 15   arr_delay           73240 non-null  float64
 16   carrier_delay       73240 non-null  float64
 17  weather_delay        73240 non-null  float64
 18  nas_delay            73240 non-null  float64
 19  security_delay       73240 non-null  float64
 20  late_aircraft_delay  73240 non-null  float64
 21  Unnamed: 21          0 non-null      float64
dtypes: float64(16), int64(2), object(4)
memory usage: 12.3+ MB

In [5]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317699 entries, 0 to 317698
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 317699 non-null  int64
 1   month                317699 non-null  int64
 2   carrier              317699 non-null  object
 3   carrier_name         317699 non-null  object
 4   airport              317699 non-null  object
 5   airport_name         317699 non-null  object
 6   arr_flights          317213 non-null  float64
 7   arr_del15            316979 non-null  float64
 8   carrier_ct           317213 non-null  float64
 9   weather_ct           317213 non-null  float64
 10  nas_ct               317213 non-null  float64
 11  security_ct          317213 non-null  float64
 12  late_aircraft_ct     317213 non-null  float64
 13  arr_cancelled        317213 non-null  float64
 14  arr_diverted         317213 non-null  float64
 15  arr_delay            317213 non-null  float64
 16  carrier_delay        317213 non-null  float64
 17  weather_delay        317213 non-null  float64
 18  nas_delay            317213 non-null  float64
 19  security_delay       317213 non-null  float64
 20  late_aircraft_delay  317213 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 50.9+ MB

In [6]:
data.columns

Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [15]:
data.count()

year                   73282
 month                 73282
carrier                73282
carrier_name           73282
airport                73282
airport_name           73282
arr_flights            73240
arr_del15              73211
carrier_ct             73240
 weather_ct            73240
nas_ct                 73240
security_ct            73240
late_aircraft_ct       73240
arr_cancelled          73240
arr_diverted           73240
 arr_delay             73240
 carrier_delay         73240
weather_delay          73240
nas_delay              73240
security_delay         73240
late_aircraft_delay    73240
Unnamed: 21                0
dtype: int64

In [14]:
data.count()

year                   73282
 month                 73282
carrier                73282
carrier_name           73282
airport                73282
airport_name           73282
arr_flights            73240
arr_del15              73211
carrier_ct             73240
 weather_ct            73240
nas_ct                 73240
security_ct            73240
late_aircraft_ct       73240
arr_cancelled          73240
arr_diverted           73240
 arr_delay             73240
 carrier_delay         73240
weather_delay          73240
nas_delay              73240
security_delay         73240
late_aircraft_delay    73240
Unnamed: 21                0
dtype: int64

In [18]:
data.airport_name.unique().size

30

In [22]:
data.isna().sum()

year                       0
 month                     0
carrier                    0
carrier_name               0
airport                    0
airport_name               0
arr_flights               42
arr_del15                 71
carrier_ct                42
 weather_ct               42
nas_ct                    42
security_ct               42
late_aircraft_ct          42
arr_cancelled             42
arr_diverted              42
 arr_delay                42
 carrier_delay            42
weather_delay             42
nas_delay                 42
security_delay            42
late_aircraft_delay       42
Unnamed: 21            73282
dtype: int64

In [23]:
full.isna().sum()

year                     0
month                    0
carrier                  0
carrier_name             0
airport                  0
airport_name             0
arr_flights            486
arr_del15              720
carrier_ct             486
weather_ct             486
nas_ct                 486
security_ct            486
late_aircraft_ct       486
arr_cancelled          486
arr_diverted           486
arr_delay              486
carrier_delay          486
weather_delay          486
nas_delay              486
security_delay         486
late_aircraft_delay    486
dtype: int64

In [25]:
full[full.isna().where()]

TypeError: DataFrame.where() missing 1 required positional argument: 'cond'

In [30]:
full.index[full.isna().any(axis=1)]

Int64Index([  4141,   4424,   4527,   4910,   4911,   4912,   5026,   5891,
              6605,   9029,
            ...
            305936, 306575, 306584, 307340, 313070, 313724, 313730, 316538,
            316552, 316626],
           dtype='int64', length=720)

In [31]:
data.index[data.isna().any(axis=1)]

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            73272, 73273, 73274, 73275, 73276, 73277, 73278, 73279, 73280,
            73281],
           dtype='int64', length=73282)

In [32]:
data.isna().any(axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
73277    True
73278    True
73279    True
73280    True
73281    True
Length: 73282, dtype: bool

In [35]:
data

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2009,11,AS,Alaska Airlines Inc.,DCA,"Washington, DC: Ronald Reagan Washington National",88.0,11.0,1.99,0.00,...,0.00,0.0,0.0,266.0,65.0,0.0,201.0,0.0,0.0,NaN
1,2009,11,AS,Alaska Airlines Inc.,DEN,"Denver, CO: Denver International",123.0,5.0,3.47,0.00,...,0.00,0.0,0.0,81.0,57.0,0.0,24.0,0.0,0.0,NaN
2,2009,11,AS,Alaska Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",66.0,6.0,1.28,0.69,...,0.00,0.0,0.0,176.0,64.0,11.0,101.0,0.0,0.0,NaN
3,2009,11,AS,Alaska Airlines Inc.,EWR,"Newark, NJ: Newark Liberty International",59.0,10.0,0.24,0.00,...,0.56,0.0,0.0,553.0,8.0,0.0,526.0,0.0,19.0,NaN
4,2009,11,AS,Alaska Airlines Inc.,HNL,"Honolulu, HI: Daniel K Inouye International",85.0,18.0,1.34,1.46,...,0.00,0.0,0.0,547.0,85.0,89.0,373.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73277,2018,11,DL,Delta Air Lines Inc.,SAN,"San Diego, CA: San Diego International",656.0,72.0,25.95,6.52,...,22.42,1.0,2.0,3660.0,1162.0,594.0,485.0,0.0,1419.0,NaN
73278,2018,11,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",2137.0,358.0,85.05,9.84,...,102.24,1.0,19.0,24692.0,7805.0,1382.0,6866.0,0.0,8639.0,NaN
73279,2018,11,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",1222.0,343.0,36.76,11.94,...,38.36,0.0,5.0,23951.0,4052.0,1720.0,15211.0,0.0,2968.0,NaN
73280,2018,11,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3554.0,363.0,107.40,19.47,...,141.11,2.0,2.0,21616.0,6880.0,2409.0,2874.0,0.0,9453.0,NaN
73281,2018,11,DL,Delta Air Lines Inc.,TPA,"Tampa, FL: Tampa International",873.0,204.0,62.57,11.66,...,55.21,2.0,1.0,9053.0,3249.0,629.0,2351.0,0.0,2824.0,NaN