In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("fixg.csv")

In [3]:
full = pd.read_csv("all.csv")

In [4]:
data.columns == full.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [40]:
full.index[full.isna().any(axis=1)].size

720

In [45]:
full.index[full.isna().any(axis=1)==False].size

316979

In [44]:
data.index[data.isna().any(axis=1)==False].size

73211

In [39]:
data.index[data.isna().any(axis=1)].size

71

In [5]:
airports = pd.unique(data["airport_name"])
airports.sort()
airports

array(['Atlanta, GA: Hartsfield-Jackson Atlanta International',
       'Baltimore, MD: Baltimore/Washington International Thurgood Marshall',
       'Boston, MA: Logan International',
       'Charlotte, NC: Charlotte Douglas International',
       'Chicago, IL: Chicago Midway International',
       "Chicago, IL: Chicago O'Hare International",
       'Dallas/Fort Worth, TX: Dallas/Fort Worth International',
       'Denver, CO: Denver International',
       'Detroit, MI: Detroit Metro Wayne County',
       'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International',
       'Honolulu, HI: Daniel K Inouye International',
       'Houston, TX: George Bush Intercontinental/Houston',
       'Las Vegas, NV: McCarran International',
       'Los Angeles, CA: Los Angeles International',
       'Miami, FL: Miami International',
       'Minneapolis, MN: Minneapolis-St Paul International',
       'New York, NY: John F. Kennedy International',
       'New York, NY: LaGuardia',
       'Newark, NJ: Newark Liberty International',
       'Orlando, FL: Orlando International',
       'Philadelphia, PA: Philadelphia International',
       'Phoenix, AZ: Phoenix Sky Harbor International',
       'Portland, OR: Portland International',
       'Salt Lake City, UT: Salt Lake City International',
       'San Diego, CA: San Diego International',
       'San Francisco, CA: San Francisco International',
       'Seattle, WA: Seattle/Tacoma International',
       'Tampa, FL: Tampa International',
       'Washington, DC: Ronald Reagan Washington National',
       'Washington, DC: Washington Dulles International'], dtype=object)

In [6]:
filter1 = full[full.airport_name.isin(airports)]

In [7]:
filter1

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
5,2022,3,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2985.0,468.0,117.44,24.84,...,0.0,200.59,0.0,5.0,42692.0,12970.0,3866.0,4751.0,0.0,21105.0
16,2022,3,9E,Endeavor Air Inc.,BOS,"Boston, MA: Logan International",215.0,34.0,11.22,0.05,...,0.0,11.30,0.0,2.0,2928.0,1566.0,2.0,500.0,0.0,860.0
21,2022,3,9E,Endeavor Air Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",93.0,13.0,1.01,1.82,...,0.0,4.43,0.0,0.0,1382.0,57.0,90.0,903.0,0.0,332.0
28,2022,3,9E,Endeavor Air Inc.,CLT,"Charlotte, NC: Charlotte Douglas International",255.0,48.0,13.60,1.68,...,0.0,16.06,9.0,1.0,3412.0,808.0,197.0,986.0,0.0,1421.0
35,2022,3,9E,Endeavor Air Inc.,DCA,"Washington, DC: Ronald Reagan Washington National",175.0,33.0,6.97,0.00,...,0.0,8.20,2.0,0.0,2568.0,808.0,0.0,1273.0,0.0,487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317681,2003,6,DL,Delta Air Lines Inc.,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",266.0,55.0,11.98,1.41,...,0.0,6.92,2.0,1.0,2030.0,537.0,63.0,962.0,0.0,468.0
317690,2003,6,DL,Delta Air Lines Inc.,SAN,"San Diego, CA: San Diego International",446.0,119.0,18.12,1.65,...,0.0,22.98,0.0,0.0,4816.0,1278.0,73.0,2056.0,0.0,1409.0
317694,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
317695,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
317698,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [8]:
data

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2009,11,AS,Alaska Airlines Inc.,DCA,"Washington, DC: Ronald Reagan Washington National",88.0,11.0,1.99,0.00,...,0.0,0.00,0.0,0.0,266.0,65.0,0.0,201.0,0.0,0.0
1,2009,11,AS,Alaska Airlines Inc.,DEN,"Denver, CO: Denver International",123.0,5.0,3.47,0.00,...,0.0,0.00,0.0,0.0,81.0,57.0,0.0,24.0,0.0,0.0
2,2009,11,AS,Alaska Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",66.0,6.0,1.28,0.69,...,0.0,0.00,0.0,0.0,176.0,64.0,11.0,101.0,0.0,0.0
3,2009,11,AS,Alaska Airlines Inc.,EWR,"Newark, NJ: Newark Liberty International",59.0,10.0,0.24,0.00,...,0.0,0.56,0.0,0.0,553.0,8.0,0.0,526.0,0.0,19.0
4,2009,11,AS,Alaska Airlines Inc.,HNL,"Honolulu, HI: Daniel K Inouye International",85.0,18.0,1.34,1.46,...,0.0,0.00,0.0,0.0,547.0,85.0,89.0,373.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73277,2018,11,DL,Delta Air Lines Inc.,SAN,"San Diego, CA: San Diego International",656.0,72.0,25.95,6.52,...,0.0,22.42,1.0,2.0,3660.0,1162.0,594.0,485.0,0.0,1419.0
73278,2018,11,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",2137.0,358.0,85.05,9.84,...,0.0,102.24,1.0,19.0,24692.0,7805.0,1382.0,6866.0,0.0,8639.0
73279,2018,11,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",1222.0,343.0,36.76,11.94,...,0.0,38.36,0.0,5.0,23951.0,4052.0,1720.0,15211.0,0.0,2968.0
73280,2018,11,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3554.0,363.0,107.40,19.47,...,0.0,141.11,2.0,2.0,21616.0,6880.0,2409.0,2874.0,0.0,9453.0
73281,2018,11,DL,Delta Air Lines Inc.,TPA,"Tampa, FL: Tampa International",873.0,204.0,62.57,11.66,...,0.0,55.21,2.0,1.0,9053.0,3249.0,629.0,2351.0,0.0,2824.0

In [9]:
for c in data.columns:
    XXdataValues = pd.unique(data[c])
    values = pd.unique(filter1[c])
    print(f"{c}:  {len(XXdataValues)} / {len(values)} values in target data set")

year:  18 / 20 values in target data set
month:  12 / 12 values in target data set
carrier:  28 / 29 values in target data set
carrier_name:  32 / 33 values in target data set
airport:  30 / 30 values in target data set
airport_name:  30 / 30 values in target data set
arr_flights:  7012 / 7135 values in target data set
arr_del15:  2288 / 2301 values in target data set
carrier_ct:  16080 / 16729 values in target data set
weather_ct:  5243 / 5366 values in target data set
nas_ct:  19813 / 20257 values in target data set
security_ct:  1034 / 1063 values in target data set
late_aircraft_ct:  18451 / 19031 values in target data set
arr_cancelled:  637 / 652 values in target data set
arr_diverted:  138 / 139 values in target data set
arr_delay:  24228 / 25249 values in target data set
carrier_delay:  12899 / 13568 values in target data set
weather_delay:  5002 / 5232 values in target data set
nas_delay:  13541 / 13825 values in target data set
security_delay:  597 / 622 values in target data set
late_aircraft_delay:  15384 / 15900 values in target data set

In [10]:
sorted(pd.unique(data.year))

[2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [11]:
data2020 = data[data.year == 2020]

In [12]:
sorted(pd.unique(data2020.month))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [13]:
data2003 = data[data.year == 2003]
sorted(pd.unique(data2003.month))

[6, 7, 8, 9, 10, 11, 12]

In [14]:
full2003 = full[full.year == 2003]
sorted(pd.unique(full2003.month))

[6, 7, 8, 9, 10, 11, 12]

In [15]:
filter2 = filter1[filter1.year.isin(pd.unique(data.year))]

In [16]:
for c in data.columns:
    XXdataValues = pd.unique(data[c])
    values = pd.unique(filter2[c])
    print(f"{c}:  {len(XXdataValues)} / {len(values)} values in target data set")

year:  18 / 18 values in target data set
month:  12 / 12 values in target data set
carrier:  28 / 28 values in target data set
carrier_name:  32 / 32 values in target data set
airport:  30 / 30 values in target data set
airport_name:  30 / 30 values in target data set
arr_flights:  7012 / 7012 values in target data set
arr_del15:  2288 / 2288 values in target data set
carrier_ct:  16080 / 16080 values in target data set
weather_ct:  5243 / 5243 values in target data set
nas_ct:  19813 / 19813 values in target data set
security_ct:  1034 / 1034 values in target data set
late_aircraft_ct:  18451 / 18451 values in target data set
arr_cancelled:  637 / 637 values in target data set
arr_diverted:  138 / 138 values in target data set
arr_delay:  24228 / 24228 values in target data set
carrier_delay:  12899 / 12899 values in target data set
weather_delay:  5002 / 5002 values in target data set
nas_delay:  13541 / 13541 values in target data set
security_delay:  597 / 597 values in target data set
late_aircraft_delay:  15384 / 15384 values in target data set

In [25]:
dataTuples = [row[1:] for row in data.itertuples()]
filter2Tuples = [row[1:] for row in filter2.itertuples()]

In [28]:
dataS = set(dataTuples)
filter2S = set(filter2Tuples)

In [29]:
dataS == filter2S

False

In [31]:
len(dataS.difference(filter2S))

71

In [32]:
len(filter2S.difference(dataS))

71

In [35]:
for x in sorted(filter2S.difference(dataS)):
    print(x)

(2003, 9, 'RU', 'ExpressJet Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 2, 'TZ', 'ATA Airlines d/b/a ATA', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 3, 'TZ', 'ATA Airlines d/b/a ATA', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 4, 'EV', 'Atlantic Southeast Airlines', 'LAX', 'Los Angeles, CA: Los Angeles International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2005, 12, 'TZ', 'ATA Airlines d/b/a ATA', 'MSP', 'Minneapolis, MN: Minneapolis-St Paul International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2005, 12, 'TZ', 'ATA Airlines d/b/a ATA', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2006, 1, 'TZ', 'ATA Airlines d/b/a ATA', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 5, 'EV', 'Atlantic Southeast Airlines', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 5, 'OH', 'Comair Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 7, 'OH', 'Comair Inc.', 'DEN', 'Denver, CO: Denver International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 10, 'EV', 'Atlantic Southeast Airlines', 'PHL', 'Philadelphia, PA: Philadelphia International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 11, 'EV', 'Atlantic Southeast Airlines', 'MDW', 'Chicago, IL: Chicago Midway International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 12, 'EV', 'Atlantic Southeast Airlines', 'JFK', 'New York, NY: John F. Kennedy International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 3, 'EV', 'Atlantic Southeast Airlines', 'DCA', 'Washington, DC: Ronald Reagan Washington National', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 6, 'MQ', 'American Eagle Airlines Inc.', 'PHL', 'Philadelphia, PA: Philadelphia International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 9, 'EV', 'Atlantic Southeast Airlines', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 10, 'EV', 'Atlantic Southeast Airlines', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 10, 'EV', 'Atlantic Southeast Airlines', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2009, 7, 'UA', 'United Air Lines Inc.', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2009, 9, 'EV', 'Atlantic Southeast Airlines', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2010, 1, 'OO', 'SkyWest Airlines Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2011, 5, 'EV', 'Atlantic Southeast Airlines', 'MSP', 'Minneapolis, MN: Minneapolis-St Paul International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2011, 6, 'US', 'US Airways Inc.', 'IAD', 'Washington, DC: Washington Dulles International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 9, 'F9', 'Frontier Airlines Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 10, 'F9', 'Frontier Airlines Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 12, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 12, 'F9', 'Frontier Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2013, 1, 'OO', 'SkyWest Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2013, 9, 'EV', 'ExpressJet Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2013, 11, 'OO', 'SkyWest Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2014, 5, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2014, 12, 'F9', 'Frontier Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2015, 1, 'EV', 'ExpressJet Airlines Inc.', 'PHX', 'Phoenix, AZ: Phoenix Sky Harbor International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2015, 3, 'OO', 'SkyWest Airlines Inc.', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 5, 'EV', 'ExpressJet Airlines Inc.', 'SLC', 'Salt Lake City, UT: Salt Lake City International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 9, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 11, 'EV', 'ExpressJet Airlines Inc.', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2017, 5, 'VX', 'Virgin America', 'SLC', 'Salt Lake City, UT: Salt Lake City International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2017, 10, 'EV', 'ExpressJet Airlines Inc.', 'JFK', 'New York, NY: John F. Kennedy International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2019, 3, 'EV', 'ExpressJet Airlines Inc.', 'PHL', 'Philadelphia, PA: Philadelphia International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', 20.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'EWR', 'Newark, NJ: Newark Liberty International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'IAD', 'Washington, DC: Washington Dulles International', 13.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 13.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'LGA', 'New York, NY: LaGuardia', 112.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 112.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'MDW', 'Chicago, IL: Chicago Midway International', 5.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", 4.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'TPA', 'Tampa, FL: Tampa International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'F9', 'Frontier Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', 9.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', 28.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'DEN', 'Denver, CO: Denver International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'EWR', 'Newark, NJ: Newark Liberty International', 32.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 32.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'SAN', 'San Diego, CA: San Diego International', 2.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'MQ', 'Envoy Air', 'DEN', 'Denver, CO: Denver International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'MQ', 'Envoy Air', 'JFK', 'New York, NY: John F. Kennedy International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 4, 'MQ', 'Envoy Air', 'MIA', 'Miami, FL: Miami International', 94.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 94.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'NK', 'Spirit Air Lines', 'EWR', 'Newark, NJ: Newark Liberty International', 106.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 106.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'NK', 'Spirit Air Lines', 'LGA', 'New York, NY: LaGuardia', 77.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 77.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OH', 'PSA Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', 22.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 22.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OO', 'SkyWest Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', 6.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OO', 'SkyWest Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', 3.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'UA', 'United Air Lines Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 4, 'UA', 'United Air Lines Inc.', 'SLC', 'Salt Lake City, UT: Salt Lake City International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'YX', 'Republic Airline', 'DFW', 'Dallas/Fort Worth, TX: Dallas/Fort Worth International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'G4', 'Allegiant Air', 'BOS', 'Boston, MA: Logan International', 28.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'G4', 'Allegiant Air', 'SAN', 'San Diego, CA: San Diego International', 17.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 17.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'MQ', 'Envoy Air', 'DCA', 'Washington, DC: Ronald Reagan Washington National', 2.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 10, 'OO', 'SkyWest Airlines Inc.', 'BOS', 'Boston, MA: Logan International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'OO', 'SkyWest Airlines Inc.', 'DCA', 'Washington, DC: Ronald Reagan Washington National', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'YV', 'Mesa Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'YV', 'Mesa Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)

In [36]:
for x in sorted(dataS.difference(filter2S)):
    print(x)

(2003, 9, 'RU', 'ExpressJet Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 2, 'TZ', 'ATA Airlines d/b/a ATA', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 3, 'TZ', 'ATA Airlines d/b/a ATA', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2004, 4, 'EV', 'Atlantic Southeast Airlines', 'LAX', 'Los Angeles, CA: Los Angeles International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2005, 12, 'TZ', 'ATA Airlines d/b/a ATA', 'MSP', 'Minneapolis, MN: Minneapolis-St Paul International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2005, 12, 'TZ', 'ATA Airlines d/b/a ATA', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2006, 1, 'TZ', 'ATA Airlines d/b/a ATA', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 5, 'EV', 'Atlantic Southeast Airlines', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 5, 'OH', 'Comair Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 7, 'OH', 'Comair Inc.', 'DEN', 'Denver, CO: Denver International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 10, 'EV', 'Atlantic Southeast Airlines', 'PHL', 'Philadelphia, PA: Philadelphia International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 11, 'EV', 'Atlantic Southeast Airlines', 'MDW', 'Chicago, IL: Chicago Midway International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2007, 12, 'EV', 'Atlantic Southeast Airlines', 'JFK', 'New York, NY: John F. Kennedy International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 3, 'EV', 'Atlantic Southeast Airlines', 'DCA', 'Washington, DC: Ronald Reagan Washington National', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 6, 'MQ', 'American Eagle Airlines Inc.', 'PHL', 'Philadelphia, PA: Philadelphia International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 9, 'EV', 'Atlantic Southeast Airlines', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 10, 'EV', 'Atlantic Southeast Airlines', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2008, 10, 'EV', 'Atlantic Southeast Airlines', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2009, 7, 'UA', 'United Air Lines Inc.', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2009, 9, 'EV', 'Atlantic Southeast Airlines', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2010, 1, 'OO', 'SkyWest Airlines Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2011, 5, 'EV', 'Atlantic Southeast Airlines', 'MSP', 'Minneapolis, MN: Minneapolis-St Paul International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2011, 6, 'US', 'US Airways Inc.', 'IAD', 'Washington, DC: Washington Dulles International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 9, 'F9', 'Frontier Airlines Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 10, 'F9', 'Frontier Airlines Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 12, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2012, 12, 'F9', 'Frontier Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2013, 1, 'OO', 'SkyWest Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2013, 9, 'EV', 'ExpressJet Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2013, 11, 'OO', 'SkyWest Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2014, 5, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2014, 12, 'F9', 'Frontier Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2015, 1, 'EV', 'ExpressJet Airlines Inc.', 'PHX', 'Phoenix, AZ: Phoenix Sky Harbor International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2015, 3, 'OO', 'SkyWest Airlines Inc.', 'EWR', 'Newark, NJ: Newark Liberty International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 5, 'EV', 'ExpressJet Airlines Inc.', 'SLC', 'Salt Lake City, UT: Salt Lake City International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 9, 'EV', 'ExpressJet Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2016, 11, 'EV', 'ExpressJet Airlines Inc.', 'MIA', 'Miami, FL: Miami International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2017, 5, 'VX', 'Virgin America', 'SLC', 'Salt Lake City, UT: Salt Lake City International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2017, 10, 'EV', 'ExpressJet Airlines Inc.', 'JFK', 'New York, NY: John F. Kennedy International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2019, 3, 'EV', 'ExpressJet Airlines Inc.', 'PHL', 'Philadelphia, PA: Philadelphia International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', 20.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'EWR', 'Newark, NJ: Newark Liberty International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'IAD', 'Washington, DC: Washington Dulles International', 13.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 13.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'LGA', 'New York, NY: LaGuardia', 112.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 112.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'MDW', 'Chicago, IL: Chicago Midway International', 5.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'ORD', "Chicago, IL: Chicago O'Hare International", 4.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, '9E', 'Endeavor Air Inc.', 'TPA', 'Tampa, FL: Tampa International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'F9', 'Frontier Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', 9.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', 28.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'DEN', 'Denver, CO: Denver International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'EWR', 'Newark, NJ: Newark Liberty International', 32.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 32.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'G4', 'Allegiant Air', 'SAN', 'San Diego, CA: San Diego International', 2.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'MQ', 'Envoy Air', 'DEN', 'Denver, CO: Denver International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'MQ', 'Envoy Air', 'JFK', 'New York, NY: John F. Kennedy International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 4, 'MQ', 'Envoy Air', 'MIA', 'Miami, FL: Miami International', 94.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 94.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'NK', 'Spirit Air Lines', 'EWR', 'Newark, NJ: Newark Liberty International', 106.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 106.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'NK', 'Spirit Air Lines', 'LGA', 'New York, NY: LaGuardia', 77.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 77.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OH', 'PSA Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', 22.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 22.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OO', 'SkyWest Airlines Inc.', 'BWI', 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall', 6.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'OO', 'SkyWest Airlines Inc.', 'LGA', 'New York, NY: LaGuardia', 3.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'UA', 'United Air Lines Inc.', 'CLT', 'Charlotte, NC: Charlotte Douglas International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 4, 'UA', 'United Air Lines Inc.', 'SLC', 'Salt Lake City, UT: Salt Lake City International', 7.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 4, 'YX', 'Republic Airline', 'DFW', 'Dallas/Fort Worth, TX: Dallas/Fort Worth International', 1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'G4', 'Allegiant Air', 'BOS', 'Boston, MA: Logan International', 28.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'G4', 'Allegiant Air', 'SAN', 'San Diego, CA: San Diego International', 17.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 17.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 5, 'MQ', 'Envoy Air', 'DCA', 'Washington, DC: Ronald Reagan Washington National', 2.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
(2020, 10, 'OO', 'SkyWest Airlines Inc.', 'BOS', 'Boston, MA: Logan International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'OO', 'SkyWest Airlines Inc.', 'DCA', 'Washington, DC: Ronald Reagan Washington National', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'YV', 'Mesa Airlines Inc.', 'FLL', 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
(2020, 10, 'YV', 'Mesa Airlines Inc.', 'TPA', 'Tampa, FL: Tampa International', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)

In [42]:
len(data)

73282

In [43]:
len(full)

317699

In [48]:
full.airport_name.unique().size

420